@{
    ViewData["Title"] = "La mia pizzeria";
}

<div class="text-center py-4">
    <h1 class="display-4">Super Pizzeria</h1>
</div>
<!-- Card prodotto-->
<div class="row justify-content-center py-3">
    <div class="col-8">
        <div class="row card-prod">
            <div class="col-9 d-flex flex-column gy-2">
                <div class="titolo-prod fw-bold">Pizza 1</div>
                <div class="descrizione-prod"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ex ea difficultate illae fallaciloquae, ut ait Accius, malitiae natae sunt. Quid autem habent admirationis, cum prope accesseris? <b>Quae diligentissime contra Aristonem dicuntur a Chryippo.</b> <b>Scrupulum, inquam, abeunti;</b> </p>
                 </div>
                <div class="prezzo-prod">€10.00</div>

            </div>
            <div class="col-3">
                <div class="img-prod">
                    <img src="https://picsum.photos/200/200" />
                </div>
            </div>
        </div>
    </div>
</div>

                <!-- Card prodotto-->
<div class="row justify-content-center py-3">
    <div class="col-8">
        <div class="row flex-row-reverse card-prod">
            <div class="col-9 d-flex flex-column gy-2">
                <div class="titolo-prod fw-bold">Pizza 2</div>
                <div class="descrizione-prod"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ex ea difficultate illae fallaciloquae, ut ait Accius, malitiae natae sunt. Quid autem habent admirationis, cum prope accesseris? <b>Quae diligentissime contra Aristonem dicuntur a Chryippo.</b> <b>Scrupulum, inquam, abeunti;</b> </p>
                 </div>
                <div class="prezzo-prod">€10.00</div>
            </div>
            <div class="col-3">
                <div class="img-prod">
                    <img src="https://picsum.photos/200/200" />
                </div>
            </div>
        </div>
    </div>
</div>

                <!-- Card prodotto-->
<div class="row justify-content-center py-3">
    <div class="col-8">
        <div class="row card-prod">
            <div class="col-9 d-flex flex-column gy-2">
                <div class="titolo-prod fw-bold">Pizza 3</div>
                <div class="descrizione-prod"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ex ea difficultate illae fallaciloquae, ut ait Accius, malitiae natae sunt. Quid autem habent admirationis, cum prope accesseris? <b>Quae diligentissime contra Aristonem dicuntur a Chryippo.</b> <b>Scrupulum, inquam, abeunti;</b> </p>
                 </div>
                <div class="prezzo-prod">€10.00</div>

            </div>
            <div class="col-3">
                <div class="img-prod">
                    <img src="https://picsum.photos/200/200" />
                </div>
            </div>
        </div>
    </div>
</div>

                <!-- Card prodotto-->
<div class="row justify-content-center py-3">
    <div class="col-8">
        <div class="row flex-row-reverse card-prod">
            <div class="col-9 d-flex flex-column gy-2">
                <div class="titolo-prod fw-bold">Pizza 4</div>
                <div class="descrizione-prod"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ex ea difficultate illae fallaciloquae, ut ait Accius, malitiae natae sunt. Quid autem habent admirationis, cum prope accesseris? <b>Quae diligentissime contra Aristonem dicuntur a Chryippo.</b> <b>Scrupulum, inquam, abeunti;</b> </p>
                 </div>
                <div class="prezzo-prod">€10.00</div>

            </div>
            <div class="col-3">
                <div class="img-prod">
                    <img src="https://picsum.photos/200/200" />
                </div>
            </div>
        </div>
    </div>
</div>